
* {
	box-sizing: border-box;
}

body {
	background-color: #CECECE; 
	font-family: 'Montserrat', sans-serif;
}

#brand {
	color: white;
	transform: translate(90px);
	transition: background .3s;
	transition-timing-function: ease-in-out;
	font-size: 16px;
}
#brand:hover {
	text-decoration: none;
	background-color: #080808;
	color: #2865FF;
	display: block;
}
.my-item:hover .my-link {
	background-color: #080808;
	color:red;
	display: block;
}
.my-dropdown-item:hover .my-link {
	background-color: #080808;
	color:red;
	display: block;
}

.my-dropdown-item:hover .my-dropdown-menu {
	display: block;
	background-color: grey;
}

.picture {
	width: 100%;
	border: 2px solid black;
	height: 500px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.picture_2 {
	width: 100%;
	border: 2px solid black;
	height: 500px;
	position: relative;
}
.pic-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
