*{
  box-sizing: border-box;
}

body {
  background-image: url(https://ak2.picdn.net/shutterstock/videos/6040412/thumb/1.jpg);
  background-size: cover; 
}

.container {
  margin: 50px auto;
  font-family: 'Montserrat', sans-serif; 
  position: relative;
  color: grey;
  
}

.header  {
  margin-top: 0;
  padding-bottom: 12px;
  border-bottom: 2px solid grey;
}

.form {
  border: 0.2px solid grey;
  padding: 30px;
  max-width: 450px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  text-transform: uppercase;
  box-shadow: 0 15px 15px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}



.nameon {
  margin: 30px 0 15px;
  text-transform: uppercase;
}
  
#name, #card, #cvv, #valid { 
  padding: 10px;
  border: 1px solid grey;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  outline:none;
}

#name, #card {
  width: 100%;
}

.cvvalid {
  display:flex;
  justify-content: space-between;
}
.cv-block {
  width: 15%;
}

#cvv, #valid {
  width:100%;
}

.valid-block {
  width:80%;

}

#btn {
  margin: 20px auto 0;
  text-align: center;
  width: 100%;
  border: none;
  background-color: #64D4C6;
  color: white;
 padding: 20px 0;
   font-size: 20px;
  text-decoration: none;
  border-radius: 10px;  
}

#btn:hover{
  border: 1px solid #64D4C6;
  color: #64D4C6;
  background-color:white;
}